*{
  box-sizing: border-box;
  margin: 0;
}

body{
  margin: 0;
  display: flex;
  height: 40%;
  font-family: cursive;
  background-color: slateblue;
}

.container{
  background-color: aliceblue;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  overflow: hidden;
}

.month{
  margin: 0;
  background-color: orangered;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.day{
  font-size: 20px;
  color: darkgray;
}
.date{
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}
.year{
  margin: 20px 0;
  font-size: 20px;
  color: darkgray;
  font-weight: 500;
}
.btn {
  position: absolute;
  top: 30px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
}

.Calculator{
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  margin-left: 20%;
  border: solid 1px #ccc;
  margin-top: 40px;
  border-radius: 5px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

button{
  padding: 10px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #ddd;
}
.clear{
  background-color: #ff4136;
  color: #fff;
}

