/* Reset all margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold-and-big {
  font-weight: bold; /* Makes the text bold */
  font-size: 2em; /* Makes the text bigger */
}
img{
  width: 20%;
}

#parent{
  width: 300px;
  height: 300px;
  background-color: red;
  position: absolute;
  left: 250px;
}

#child{
  width: 200px;
  height: 200px;
  background-color: rgb(27, 238, 8);
}

#offspring{
  width: 100px;
  height: 100px;
  background-color: rgb(9, 42, 228);
 
}