*{
  margin: 0;
  padding: 0;
}

.container{
  height: 300px;
  background-color: aqua;
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* h1{
  display: flex;
  justify-content: center;
} */