*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(221, 232, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    margin-left: 0;
    width: 400px;
   text-align: center;
    background: lightblue;
    border-radius: 8px;

}

.header{
    background-color: blueviolet;
    font-size: 1.5rem;
    color:white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.input{
    height: 400%;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    width: 400px;    /* Set the width of the input box */    
    font-size: 36px; 
    padding: 10px;   
}

#addtodo{
    width: 100px;
    padding: 10px;
    font-size:1.3rem;
    cursor:pointer;
    background-color: rgb(232, 244, 228);
    border-radius: 3px;
    border: none;
    color:black;
}

.output{
    margin-bottom: 20px;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 0 2px blue;
    margin: 40px;
    border-radius: 3px;
    padding: 10px;
}

#listBtn{
    width: 30%;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(192, 255, 208);
    border-radius: 3px;
    border: none;
    color:rgb(14, 15, 15)
}
